# 대리점 데이터 가공
* 사람이 직접 관리하는 데이터
* 입력 실수, 데이터 누락등 오류가 많을 수 있음
* uriage.csv : 매출 이력(기간 2019년 1월 ~ 2019년 7월)
* kokyaku_daicho.xlsx : 대리점 관리 고객정보

## 1. Read data

In [2]:
import pandas as pd

uriage_data = pd.read_csv('uriage.csv')
uriage_data.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [3]:
kokyaku_data = pd.read_excel('kokyaku_daicho.xlsx')
kokyaku_data.head()

   고객이름  지역                  등록일
0  김 현성  H시  2018-01-04 00:00:00
1  김 도윤  E시                42782
2  김 지한  A시  2018-01-07 00:00:00
3  김 하윤  F시                42872
4  김 시온  E시                43127

## 2. 데이터 오류 체크
* 띄워쓰기가 불규칙하고, 알파벳이 대문자와 소문자가 섞임

In [4]:
uriage_data['item_name'].head()

0      상품A
1    상 품 S
2    상 품 a
3      상품Z
4      상품a
Name: item_name, dtype: object

* 구매 이력 데이터에 결측치가 있음

In [5]:
uriage_data['item_price'].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

## 3. 오류가 있는 상태로 집계

In [6]:
uriage_data['purchase_date'] = pd.to_datetime(uriage_data['purchase_date'])
uriage_data['purchase_month'] = uriage_data['purchase_date'].dt.strftime('%Y%m')
res = uriage_data.pivot_table(index='purchase_month', columns='item_name', aggfunc='size', fill_value=0)
res

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [7]:
res = uriage_data.pivot_table(index='purchase_month', columns='item_name', values='item_price', aggfunc='sum', fill_value=0)
res

item_name,상 품 n,상품 E,상품 M,상품 P,상품 S,상품 W,상품 X,상품W,상 품O,상 품Q,...,상품k,상품l,상품o,상품p,상품r,상품s,상품t,상품v,상품x,상품y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1400,0,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,2400,0,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,500,1300,1600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,0,0,0,0,0,0,0,2300,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,1900,0,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,2300,0,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

## 4. 상품명 오류 수정

In [11]:
print(len(pd.unique(uriage_data.item_name)))
# print(len(uriage_data.item_name.unique()))

99

In [12]:
uriage_data['item_name'] = uriage_data['item_name'].str.upper() # 알파벳을 대문자로 변환
uriage_data['item_name'] = uriage_data['item_name'].str.replace('  ', '')
uriage_data['item_name'] = uriage_data['item_name'].str.replace(' ', '')
uriage_data.sort_values(by='item_name', ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:00       상품A       100.0           김가온         201906
1748 2019-05-19 20:22:00       상품A       100.0           김시훈         201905
223  2019-06-25 08:13:00       상품A       100.0           김유진         201906
1742 2019-06-13 16:03:00       상품A       100.0           김건희         201906
1738 2019-02-10 00:28:00       상품A       100.0           김하랑         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:00       상품Y         NaN           김동욱         201904
2881 2019-04-30 14:21:00       상품Y         NaN           김하준         201904
1525 2019-01-24 10:27:00       상품Y      2500.0           김범준         201901
1361 2019-05-28 13:45:00       상품Y      2500.0           김수현         201905
3    2019-02-12 23:40:00       상품Z      2600.0           김재현         201902

[2999 rows x 5 columns]

In [13]:
print(len(uriage_data.item_name.unique()))
print(uriage_data.item_name.unique())

26
['상품A' '상품S' '상품Z' '상품V' '상품O' '상품U' '상품L' '상품C' '상품I' '상품R' '상품X' '상품G'
 '상품P' '상품Q' '상품Y' '상품N' '상품W' '상품E' '상품K' '상품B' '상품F' '상품D' '상품M' '상품H'
 '상품T' '상품J']

## 5. 금액의 결측치 수정

In [14]:
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [16]:
flg_is_null = uriage_data['item_price'].isnull() # 금액이 결측치여부 확인

for trg in list(uriage_data.loc[flg_is_null, 'item_name'].unique()): # 금액이 결측치인 상품명을 리스트로 만들어서 순회
    price = uriage_data.loc[(~flg_is_null) & (uriage_data['item_name']==trg), 'item_price'].max()
    uriage_data['item_price'].loc[(flg_is_null) & (uriage_data['item_name']==trg)] = price

uriage_data.head()

C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:00       상품A       100.0           김가온         201906
1 2019-07-13 13:05:00       상품S      1900.0           김우찬         201907
2 2019-05-11 19:42:00       상품A       100.0           김유찬         201905
3 2019-02-12 23:40:00       상품Z      2600.0           김재현         201902
4 2019-04-22 03:09:00       상품A       100.0           김강현         201904